<div class="topnav">
    <h1 class="nav-title">Course Planner</h1>
    <a href="home">Home</a>
    <a href="courses_list">Courses</a>
    <a class="active" href="about">About</a>
    <a class="login" href="#">Login</a>
</div>

<div class="about-banner">
    <div class="about-content">
        <h1>About Me</h1>
        <p>
            <li>
                Dependable
            </li>
            <li>
                Strong work ethic
            </li>
            <li>
                Eager to learn and grow
            </li>
            <li>
                Enjoy being a team player
            </li>
            <li>
                Excellent communication skills
            </li>
        </p>
    </div>
</div>

<div class="personal-links">
        <div class="personal-content">
            <h1>Links</h1>
            <a href="https://www.linkedin.com/in/aidan-corcoran-99b691203/">
                LinkedIn
            </a>
            </br>
            <a href="https://github.com/Veroxus">
                GitHub
            </a>
        </div>
</div>