<div class="topnav">
    <h1 class="nav-title">Course Planner</h1>
    <a class="active" href="home">Home</a>
    <a href="courses_list">Courses</a>
    <a href="about">About</a>
    <a class="login" href="#">Login</a>
</div>
