/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Styling the navbar ----------------------------------------------------------- */
    .topnav {
        background-color:rgb(31, 31, 31);
        overflow: hidden;
    }

    .nav-title {
        text-align: center;
        color:azure;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    .topnav a.login {
        float: right;
    }
/* -------------------------------------------------------------------------- */

/* Footer styling on Courses page ------------------------------------------- */
    .bot-title {
        text-align: center;
        color:rgb(255, 255, 255);
        background-color: rgb(15, 15, 15);
    }
/* -------------------------------------------------------------------------- */

/* Table styling ------------------------------------------------------------ */
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 10px;
    }

    li {
        padding: 5px;
    }

    .add-crs-btn {
        text-align: center;
    }

    .course-code {
        text-align: center;
    }

    .del-btn {
        text-align: center;
    }
/* -------------------------------------------------------------------------- */

/* Home page styling -------------------------------------------------------- */
    .banner {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(C:\Users\ajcor\Desktop\Ruby\course_selection\app\assets\images\trees.jpg);
        background-size: cover;
        background-position: center;
    }

    .content {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }

    .content h1 {
        font-size: 70px;
    }

    .content li {
        font-size: 20px;
        letter-spacing: 0.5px;
    }
/* ----------------------------------------------------------------------- */

/* Remove padding and margins for entire website--------------------------- */
    html, body {
        margin: 0;
        padding: 0;
    }
/* ----------------------------------------------------------------------- */

/* About page styling ---------------------------------------------------- */
    .about-banner {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(C:\Users\ajcor\Desktop\Ruby\course_selection\app\assets\images\about.jpg);
        background-size: cover;
        background-position: center;
    }

    .about-content {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
    }

    .about-content h1 {
        font-size: 75px;
    }

    .about-content li {
        font-size: 20px;
    }

    .personal-links {
        position: relative;
        bottom: 0;
        height: 300px;
        background-color: rgb(10, 10, 10);
        padding: 0;
        margin: 0;
    }

    .personal-content {
        color: white;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 3%;
    }

    .personal-content h1 {
        font-size: 45px;
    }

    .personal-content a {
        color: rgb(158, 180, 255);
        font-size: 20px;
        text-decoration: none;
        line-height: 50px;
    }
/* ---------------------------------------------------------------------- */